body
{
  background-color: rgb(255, 187, 0);
}

ul
{
  margin: 0 !important;
  padding: 0 !important;
}
ul
{
  list-style-type: none;
}
.slider-main
{
  position: relative;
}
.arrow
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(116, 116, 116, 0.5);
  cursor: pointer;
}
.arrow:hover
{
  background-color: rgba(255, 255, 255, 0.5);
}
i
{
  font-size: 1.3rem;
}
.arrow-left
{
  left: 5%;
}
.arrow-right
{
  right: 5%;
}
.window
{
  overflow: hidden;
  width: 1110px;
  position: relative;
}
.lenta
{
  width: 11100px;
  position: relative;
  left: 0;
  transition: 1s linear;
}
.fa-times-circle
{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background-color: rgba(116, 116, 116, 0.5);
  font-size: 2rem;
  cursor: pointer;
}
.fa-times-circle:hover
{
  background-color: white;
  color: red;
  font-size: 2.1rem;
}
.lenta img
{
  width: 1110px;
  height: 400px;
}
.slider-list
{
  border: 5px solid black;
  background-color: black;
}
.slider-list img
{
  margin: 2px 0;
  height: 129px;
  filter: grayscale(50);
}
.slider-list .active img
{
  filter: grayscale(0);
}
.slider-list img:hover
{
  filter: grayscale(0);
  cursor: pointer;
}
.warning
{
  position: absolute;
}